

<div class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="card-body">
				<h5 class="card-title" *ngIf="!(groupsList$ | async)"><em>Loading...</em></h5>
				<table class="table table-hover table-borderless" *ngIf="(groupsList$ | async)?.length>0">
					<thead class="table-primary">
						<tr>
							<th scope="col">Name</th>
							<th scope="col">Details</th>
							<th scope="col">Events</th>
						</tr>
					</thead>
					<tbody *ngFor="let group of (groupsList$ | async)">
						<tr>
							<td>{{group.name}}</td>
							<td>
								<a [routerLink]="['/update-eig/', group.groupId]">
									Manage Details..
								</a>
							</td>
							<td>
								<a [routerLink]="['/upsert-event/', group.groupId]">
									Manage Events..
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
