/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

code {
    color: #e01a76;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Fix for the template */
body {
    padding-top: 0px;
}

/*footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}*/


.gal {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
}

    .gal img {
        width: 100%;
        padding: 7px 0;
    }

@media (max-width: 500px) {

    .gal {
        -webkit-column-count: 1; /* Chrome, Safari, Opera */
        -moz-column-count: 1; /* Firefox */
        column-count: 1;
    }
}
