
<br />
<!-- Group Main Information -->
<div class="row">

	<div class="col-md-6">
		<img class="img-fluid" src="assets/img/InforManila-Musiko-Colored.png" alt="http://placehold.it/750x500">
		<span><input type="button" class="btn btn-primary float-left" value="Change Group Logo" /></span>
	</div>

	<div class="col-md-6">
		<form>
			<div class="form-group">
				<label for="name"><b>Name:</b></label>
				<input type="text" class="form-control" id="name" value="Infor Musiko" placeholder="Group Name">
			</div>
			<div class="form-group">
				<label for="goalPurpose"><b>Goal &amp; Purpose</b></label>
				<textarea class="form-control" id="goalPurpose" rows="5">Infor Musiko is one of the Employee Interest Groups composed of musically-gifted members that use music as a tool in the promotion of work-life balance.
The main purpose of this club is to offer an avenue for vocalists and musicians, or any other Infor employee interested in music, to hone and showcase their talents within the company by collaborating with other members of the group, and to provide performance opportunities for the members at various Infor events.
					</textarea>
			</div>
			<div class="form-group">
				<label for="goalPurpose"><b>Mission</b></label>
				<textarea class="form-control" id="goalPurpose" rows="3">Infor Musiko’s mission is to create, provide, promote and expand work-life balance through music for all of its members</textarea>
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary float-right">Save</button>
			</div>
		</form>
	</div>
</div>
<!-- /.row -->

<hr />
<!--FAQs -->
<div class="mb-4" id="accordion" role="tablist" aria-multiselectable="true">
	<div class="card ">
		<div class="card-header bg-danger" role="tab" id="headingOne">
			<h5 class="mb-0">
				<a style="color: white" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">What it takes to be a member of the group?</a>
			</h5>
		</div>

		<div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
			<div class="card-body">
				Infor employees who are not only musically-gifted but also those who expresses a strong interest in unravelling or developing their untapped musical skills, either as vocalists or instrumentalists, or both.
			</div>
		</div>
	</div>
	<div class="card border-danger">
		<div class="card-header" role="tab" id="headingTwo">
			<h5 class="mb-0">
				<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
					Who should I contact?
				</a>
			</h5>
		</div>
		<div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
			<div class="card-body">
				Contact Edgar Moskaira edgar.moskaira@infor.com
			</div>
		</div>
	</div>

</div>

<br />
<!-- Upcoming Events -->
<app-events-page></app-events-page>

<br />
<!--Galleries -->
<h2>Galleries</h2>
<div class="row">
	<div class="col-lg-2 col-sm-4 mb-4">
		<img class="img-fluid" src="http://placehold.it/500x300" alt="">
	</div>
	<div class="col-lg-2 col-sm-4 mb-4">
		<img class="img-fluid" src="http://placehold.it/500x300" alt="">
	</div>
	<div class="col-lg-2 col-sm-4 mb-4">
		<img class="img-fluid" src="http://placehold.it/500x300" alt="">
	</div>
	<div class="col-lg-2 col-sm-4 mb-4">
		<img class="img-fluid" src="http://placehold.it/500x300" alt="">
	</div>
	<div class="col-lg-2 col-sm-4 mb-4">
		<img class="img-fluid" src="http://placehold.it/500x300" alt="">
	</div>
	<div class="col-lg-2 col-sm-4 mb-4">
		<img class="img-fluid" src="http://placehold.it/500x300" alt="">
	</div>
</div>