
<div class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="card-body">
				<h5 class="card-title" *ngIf="!(events$ | async)"><em>Loading...</em></h5>
				<table class="table table-hover table-borderless" *ngIf="(events$ | async)?.length>0">
					<thead class="table-primary">
						<tr>
							<th scope="col">Group Name</th>
							<th scope="col">Event Name</th>
							<th scope="col">Registrations</th>
						</tr>
					</thead>
					<tbody *ngFor="let event of (events$ | async)">
						<tr>
							<td>{{event.groupName}}</td>
							<td>
								<a [routerLink]="['/update-event/', event.eventId]">
									{{event.eventName}}
								</a>
							</td>
							<td>
								<a [routerLink]="['/view-registration/', event.eventId]">
									0
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
