
<br />
<!-- Group Main Information -->
<div class="row">
	<div class="col-md-6">
		<app-logo-upsert></app-logo-upsert>
	</div>
	<div class="col-md-6">
		<app-group-info-upsert></app-group-info-upsert>
	</div>
</div>
<hr />
<div class="row">
	<div class="col-md-12">
		<h2>Frequently Asked Questions</h2>
		<br />
		<app-group-faqform></app-group-faqform>
		<app-group-faqs></app-group-faqs>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<h2>Activities</h2>
		<br />
		
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<h2>Galleries</h2>
		<br />
		<app-group-galleries></app-group-galleries>
	</div>
</div>
	
