<h2>Upcoming Events</h2>
<!-- Project One -->
<div class="row">
	<div class="col-md-4">
		<a href="#">
			<img class="img-fluid rounded mb-3 mb-md-0" src="http://placehold.it/700x300" alt="">
		</a>
	</div>
	<div class="col-md-8">
		<h3>NASA Launch</h3>
		<div>Dates: May 28, 2020</div>
		<div>Location: Net Park Building</div>
		<br />
		<a class="btn btn-primary" href="#">
			View Details
			<span class="glyphicon glyphicon-chevron-right"></span>
		</a>
	</div>
</div>
<!-- /.row -->

<hr>

<!-- Project Two -->
<div class="row">
	<div class="col-md-4">
		<a href="#">
			<img class="img-fluid rounded mb-3 mb-md-0" src="http://placehold.it/700x300" alt="">
		</a>
	</div>
	<div class="col-md-8">
		<h3>Mount Apo Hike</h3>
		<div>Dates: May 28, 2020</div>
		<div>Location: Net Park Building</div>
		<br />
		<a class="btn btn-primary" href="#">
			View Details
			<span class="glyphicon glyphicon-chevron-right"></span>
		</a>
	</div>
</div>
<!-- /.row -->

<hr>

<!-- Project Three -->
<div class="row">
	<div class="col-md-4">
		<a href="#">
			<img class="img-fluid rounded mb-3 mb-md-0" src="http://placehold.it/700x300" alt="">
		</a>
	</div>
	<div class="col-md-8">
		<h3>Rakrakan!</h3>
		<div>Dates: May 28, 2020</div>
		<div>Location: Net Park Building</div>
		<br />
		<a class="btn btn-primary" href="#">
			View Deatils
			<span class="glyphicon glyphicon-chevron-right"></span>
		</a>
	</div>
</div>
<!-- /.row -->

<br />