<div class="mb-4" id="accordion" role="tablist" aria-multiselectable="true">
	<div class="card border-danger">
		<div class="card-header bg-danger " role="tab" id="headingOne">
			<h5 class="mb-0">
				<a style="color: white" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">What it takes to be a member of the group?</a>
			</h5>
		</div>

		<div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
			<div class="card-body">
				Infor employees who are not only musically-gifted but also those who expresses a strong interest in unravelling or developing their untapped musical skills, either as vocalists or instrumentalists, or both.
			</div>
		</div>
	</div>
	<br />
	<div class="card border-danger">
		<div class="card-header bg-danger" role="tab" id="headingTwo">
			<h5 class="mb-0">
				<a style="color: white" class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
					Who should I contact?
				</a>
			</h5>
		</div>
		<div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
			<div class="card-body">
				Contact Edgar Moskaira edgar.moskaira@infor.com
			</div>
		</div>
	</div>

</div>